@import "tailwindcss";

body {
  padding: 0;
  margin: 0;
  
}
 *{
  font-family: "Libre Franklin", sans-serif;
 }

input, select {
  font-family: "Libre Franklin", sans-serif;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.classNameInput {
  border-radius: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}